<div class="profile">
    <%= image_tag gravatar_for(@user, size: 160), alt: @user.name, class: "mx-auto mt-2 p-1 bg-white border rounded border-gray-300" %>
    <h1 class="text-3xl text-center my-4"><%= @user.name %></h1>
    <div class="mx-2">
    <% unless @user == current_user %>
        <% if @request %>
            <% if @request.accepted %>
                <%= link_to "Remove from Friends", friend_request_path(@request), method: :delete,
                                        data: { confirm: "Are you sure?" }, class: "social-btn social-neg" %>
            <% else %>
                <% if @request.requester == current_user %>
                    <%= render 'shared/revoke_request_button', request: @request %>
                <% else %>
                    <%= render 'shared/accept_request_button', request: @request %>
                <% end %>
            <% end %>
        <% else %>
            <%= render 'shared/send_request_button', user: @user %>
        <% end %>
    <% end %>
    </div>
</div>
<%= render 'shared/post_form' if @user == current_user%>
<% @posts.each do |post| %>
    <%= render 'shared/post_display', post: post %>
<% end %>
