<%= link_to @post.author.name %> at <%= time_tag(@post.created_at) %>
<div>
    <%= @post.text %>
</div>
<div><%= pluralize(@post.likes.count, 'like') %> <%= pluralize(@comments.length, 'comments') %></div>
<%= form_with url: post_comments_url(@post) do |f| %>
    <%= f.text_area :text %>
    <%= f.submit 'Comment' %>
<% end %>
<% @comments.each do |comment| %>
    <div class="comment">
        <%= link_to comment.author.name, user_path(comment.author) %>
        <%= comment.text%>
    </div>
<% end %>