<!DOCTYPE html>
<html>
  <head>
    <title>Phacepook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="min-h-screen relative bg-gray-100 pb-8 pt-1">
    <%= render 'layouts/navbar' %>

    <% flash.each do |type, message| %>
      <% type_styles = {"alert"  => "bg-red-600",
                        "notice" => "bg-green-500",
                        "flash"  => "bg-gray-600"} %>
      <%= content_tag :div, message, class: "m-2 p-2 text-white rounded #{type_styles[type]}" %>
    <% end %>

    <div class="container mx-auto">
    <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
