<!DOCTYPE html>
<html>
  <head>
    <title>Phacepook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="min-h-full bg-gray-100">
    <%= render 'layouts/navbar' %>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: "flash #{type}" %>
    <% end %>

    <%= yield %>
  </body>
</html>
